/* Our Journey Start */
.our-journey {
    overflow: hidden;
    color: #fff;
    background-image: url(../images/our-journey-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 2rem 0;
  }
  .our-journey .upper-layer {
    top: 0;
  }
  .our-journey .upper-layer .journey-content h2 {
    font-weight: 650;
  }
  .our-journey .upper-layer .journey-content .left-side {
    height: 300px;
    overflow: hidden;
    margin-right: 2rem;
  }
  .our-journey .upper-layer .journey-content .right-side h3 {
    font-size: calc(18px + (100 - 30) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .our-journey .upper-layer .journey-content .right-side p {
    font-size: calc(8px + (55 - 20) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 600;
    line-height: 1.2;
  }
  .our-journey .journey-line-container {
    height: 20%;
    width: 100%;
    top: -25%;
    left: 10%;
    padding-left: 5rem;
  }
  .our-journey .journey-line-container #back-button {
    position: relative;
    top: 5.6rem !important;
    bottom: 0;
    left: -25px;
    margin: auto;
    z-index: 1000;
    border: none;
  }
  .our-journey .journey-line-container #back-button img {
    width: 25px;
  }
  .our-journey .journey-line-container #back-button:focus {
    box-shadow: none;
  }
  .our-journey .journey-line-container #next-button:focus {
    box-shadow: none;
  }
  .our-journey .journey-line-container .journey-line {
    top: 100%;
    width: 100%;
  }
  .our-journey .journey-line-container .journey-line .progress {
    width: 100%;
    left: 0rem;
  }
  .our-journey .journey-line-container .journey-line .ball {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: auto;
  }
  .our-journey .journey-line-container .journey-line .progress-box {
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .our-journey .journey-line-container .journey-line #year-1 {
    font-weight: 700;
  }
  .our-journey .journey-line-container .journey-line .year {
    font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1920 - 300)));
    opacity: 1;
    transition: all 0.5s ease;
  }
  .our-journey .journey-line-container .journey-line #progress-box-1 {
    left: -25px;
    pointer-events: none;
  }
  .our-journey .journey-line-container .journey-line #progress-box-2 {
    left: 15rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-3 {
    left: 30rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-4 {
    left: 45rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-5 {
    left: 60rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-6 {
    left: 75rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-7 {
    left: 90rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-8 {
    left: 105rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-9 {
    left: 120rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-10 {
    left: 135rem;
  }
  .our-journey .journey-line-container .journey-line #progress-box-11 {
    left: 150rem;
  }
  .our-journey .journey-line-container .progress-container {
    width: 100%;
    height: 8px;
    overflow-x: hidden;
  }
  
  
  /* Define the scale animation */
  @keyframes flicker {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .flicker {
    animation: flicker 1s infinite;
  }


@media screen and (max-width: 1220px){
    .our-journey {
        padding: 2rem 0 3rem 0;
    }
    .our-journey .upper-layer .journey-content .container-fluid {
        margin-top: 1.8rem;
    }
    .our-journey .journey-line-container #back-button {
        top: 6.2rem !important;
        left: -20px;
    }
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .our-journey {
        padding: 2.5rem 0 3rem 0;
    }
    .our-journey .upper-layer .journey-content .container-fluid {
        margin-top: 2.2rem;
    }
    .our-journey .journey-line-container #back-button {
        top: 6.4rem !important;
        left: -15px;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .our-journey {
        padding: 3rem 0 3.5rem 0;
    }
    .our-journey .upper-layer .journey-content .container-fluid {
        margin-top: 2.7rem;
    }
    .our-journey .journey-line-container #back-button {
        top: 7.2rem !important;
        left: -25px;
    }
}
/* Our Journey End */



.scrollbar-container {
    position: absolute;
    bottom: -2.7rem;
    left: 15%;
    width: 65%;
    height: 10px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.scrollbar {
    width: 5%;
    height: 100%;
    background-color: #666;
    border-radius: 10px;
    transition: width 0.3s ease;
}