/* Banner Start */
.banner{
    position: relative;
    height: 87.7vh;
}
.banner img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.banner-content{
    position: absolute;
    bottom: 3.2rem;
    left: 8%;
    color: #fff;
}
.banner-content h1{
    font-size: calc(2.5rem + 1vw);
    font-weight: 700;
    text-transform: uppercase;
}
.banner-content p{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    max-width: 70%;
    margin-top: 1rem;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .banner-content h1{
        font-size: calc(2.8rem + 1vw);
    }
    .banner-content p{
        max-width: 73%;
    }
}
/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .banner-content h1{
        font-size: calc(3rem + 1vw);
    }
}
/* Banner End */

/* Features Start */
.features{
    padding: 2.5rem 8%;
}
.features h1{
    font-size: calc(1.9rem + 0.5vw);
    font-weight: 700;
    text-align: center;
    color: #386d94;
}
/* -- 4 Feature -- */
.feature-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.feature-card{
    width: 50%;
    text-align: center;
    padding: 0 2rem;
}
.feature-card .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}
.feature-card .card-img img{
    width: 20%;
}
.feature-card h2{
    font-size: calc(0.75rem + 0.5vw);
    font-weight: 700;
    color: #194b71;
    text-transform: uppercase;
}
.feature-card p{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    color: #000;
    margin-top: 0.8rem;
}
.feature-card:nth-child(1),
.feature-card:nth-child(2){
    border-bottom: 0.3rem solid #164b74;
}
.feature-card:nth-child(1),
.feature-card:nth-child(3){
    border-right: 0.3rem solid #164b74;
}

/* -- 5 Feature -- */
.five-feature-row .feature-card{
    width: 33.3%;
    padding: 0 1rem;
}
.five-feature-row .feature-card .card-img img{
    width: 29%;
}
.five-feature-row .feature-card:nth-child(4),
.five-feature-row .feature-card:nth-child(5){
    width: 50%;
    padding: 0 2rem;
}
.five-feature-row .feature-card:nth-child(4) img,
.five-feature-row .feature-card:nth-child(5) img{
    width: 20%;
}
.five-feature-row .feature-card:nth-child(3){
    border-bottom: 0.3rem solid #164b74;
    border-left: 0.3rem solid #164b74;
    border-right: none;
}
.five-feature-row .feature-card:nth-child(4){
    border-right: 0.3rem solid #164b74;
}
/* -- 6 Feature -- */
.six-feature-row .feature-card{
    width: 33.3%;
    padding: 0 1rem;
}
.six-feature-row .feature-card:nth-child(3){
    border-bottom: 0.3rem solid #164b74;
    border-left: 0.3rem solid #164b74;
    border-right: none;
}
.six-feature-row .feature-card:nth-child(4){
    border-right: 0.3rem solid #164b74;
}
.six-feature-row .feature-card:nth-child(6){
    border-left: 0.3rem solid #164b74;
}
.six-feature-row .feature-card .card-img img{
    width: 29%;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .feature-card .card-img{
        height: 6.3rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .feature-card .card-img{
        height: 7rem;
    }
    .feature-card .card-img img{
        width: 20%;
    }
}
/* Features End */

/* Applications Start */
.apps{
    padding: 1.5rem 8%;
}
.apps h1{
    font-size: calc(1.9rem + 0.5vw);
    font-weight: 700;
    text-align: center;
    color: #386d94;
}
.apps-row{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.apps-card{
    width: 29.5%;
    /* height: 13rem; */
    height: 33vh;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 3.8px; */
    box-shadow: rgba(0, 0, 0, 0.219) 0px 3px 6px, rgba(0, 0, 0, 0.247) 0px 3px 6px;
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;
}
.apps-card img{
    width: 100%;
}
.apps-card .blue-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #042741c2;
    color: #fff;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}
.apps-card .blue-layer h4{
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
   font-size: calc(0.5rem + 0.5vw);
}
.apps-card .blue-layer p{
   text-align: justify;
   font-weight: 500;
   font-size: calc(0.2rem + 0.5vw);
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .apps-card .blue-layer p{
        font-size: calc(0.25rem + 0.5vw);
    }
    .apps-card .blue-layer h4{
        font-size: calc(0.57rem + 0.5vw);
     }
}
/* Applications End */

/* Quality Start */
.quality{
    margin: 1.2rem 8%;
}
.quality h1{
    font-size: calc(1.9rem + 0.5vw);
    font-weight: 700;
    text-align: center;
    color: #386d94;
}
.quality p{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    color: #000;
    margin: 0.8rem auto;
    width: 65%;
    text-align: center;
}
.quality .quality-card-row{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.quality .quality-card-row .quality-card{
    width: 23%;
    overflow: hidden;
}
.quality .quality-card-row .quality-card .quality-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5rem;
}
.quality .quality-card-row .quality-card img{
    width: 50px;
}
.quality .quality-card-row #quality-card-4 img{
    width: 38px;
}
.quality .quality-card-row .quality-card h2{
    text-align: center;
    color: #5b5b5b;
    font-size: calc(0.75rem + 0.5vw);
    font-weight: 700;
}
.quality .quality-card-row .quality-card p{
    text-align: center;
    color: #000;
    font-size: calc(0.45rem + 0.5vw);
    font-weight: 500;
    width: 100%;
}
.quality .center-line{
    height: 0.35rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.quality .center-line .line{
    width: 35%;
    height: 100%;
    background-color: #e3e9ee;
    border-radius: 10px;
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .quality .quality-card-row .quality-card img{
        width: 53px;
    }
    .quality .quality-card-row #quality-card-4 img{
        width: 41px;
    }
}
/* Quality End */

/* After Sale Start */
.after-sale{
    margin: 2.5rem 8% 3rem 8%;
}
.after-sale h1{
    font-size: calc(1.9rem + 0.5vw);
    font-weight: 700;
    text-align: center;
    color: #386d94;
}
.after-sale p{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    color: #000;
    margin: 0.8rem auto;
    width: 100%;
    text-align: center;
}
.after-sale-card-row{
    display: flex;
    margin-top: 2rem;
}
.after-sale-card-row .after-sale-card{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 2rem;
}
.after-sale-card-row .after-sale-card:nth-child(1){
    border-right: 0.2rem solid #386d94;
}
.after-sale-card-row .after-sale-card img{
    width: 55px;
}
.after-sale-card-row #after-sale-card-2 img{
    width: 40px;
}
.after-sale-card-row .after-sale-card h2{
    font-size: calc(0.75rem + 0.5vw);
    font-weight: 700;
    color: #194b71;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.after-sale-card-row .after-sale-card p{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 0.3rem;
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .after-sale-card-row .after-sale-card img{
        width: 59px;
    }
    .after-sale-card-row #after-sale-card-2 img{
        width: 44px;
    }
}
/* After Sale End */

/* Vineyard Support System Start */
.vineyard-support-system{
    padding: 0.6rem 8% 0.5rem 8%;
}
.vineyard-support-system h1{
    font-size: calc(1.9rem + 0.5vw);
    font-weight: 700;
    text-align: center;
    color: #386d94;
    text-transform: uppercase;
}
.vineyard-support-system p{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    color: #000;
    margin: 0.8rem auto;
    width: 100%;
    text-align: center;
}
.vineyard-support-system .support-card-row{
    width: 82%;
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-between;
}
.vineyard-support-system .support-card-row .support-card{
    width: 47%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.vineyard-support-system .support-card-row .support-card img{
    width: 100%;
}
.vineyard-support-system .support-card-row .support-card .support-card-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    background-color: #042741d0;
    padding: 1.2rem 1.5rem;
    transition: all 0.3s ease-in-out;
}
.vineyard-support-system .support-card-row .support-card .support-card-layer h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc(0.9rem + 0.5vw);
    color: #fff;
}
.vineyard-support-system .support-card-row .support-card .support-card-layer p{
    color: #fff;
    text-align: justify;
    font-weight: 500;
    font-size: calc(0.45rem + 0.5vw);
    margin-top: 1rem;
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .vineyard-support-system .support-card-row .support-card .support-card-layer{
        padding: 1.5rem 1.5rem;
    }
}
/* Vineyard Support System End */