*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
}
body {
    font-family: "Montserrat", sans-serif;
}

/* Navbar Start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 2rem 0.4rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}
.nav-left{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.nav-left .logo img{
    width: 80px;
}
.nav-left .line{
   width: 1.5px;
   height: 45px;
   background-color: #d23737;
}
.nav-left .group-logo img{
    width: 80px;
}
.nav-left button{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: calc(0.9rem + 0.5vw);
    color: #525252;
    margin-left: 0.5rem;
}
.nav-left button img{
    width: 30px;
    margin-right: 5px;
}
.nav-right{
    width: 50%;
}
.nav-right .social-icons{
    background-color: #366d96;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    padding: 0.4rem 1.2rem 0.6rem 1.7rem;
    border-bottom-left-radius: 35px;
}
.nav-right .social-icons img{
    width: 22px;
}
.nav-menu{
    width: 75%;
    background-color: rgba(217, 217, 217, 0.93);
    border-radius: 1.2rem;
    padding: 3rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: 12.5%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, top 0.5s ease, visibility 0.5s ease;;
}
.nav-menu.active{
    top: 80%;
    opacity: 1;
    visibility: visible;
}
.nav-menu .menu{
    width: 18%;
    margin-bottom: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.nav-menu .menu img{
    width: 27px;
    height: 27px;
    object-fit: contain;
}
.nav-menu .menu span{
    color: #292929;
    margin-top: 0.6rem;
    font-weight: 550;
    font-size: calc(0.5rem + 0.5vw);
}
/* Navbar End */

/* Banner Start */
.banner{
    overflow: hidden;
}
.banner video{
    width: 100%;
}
/* Banner End */

/* Banner Pop-up Start */
.banner-pop-up{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 25%;
    z-index: 10;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 1s ease;
}
.banner-pop-up.hide{
    display: none;
}
.banner-pop-up .img-box{
    position: relative;
}
.banner-pop-up img{
    width: 100%;
    border-radius: 12px;
}
.banner-pop-up i{
    position: absolute;
    top: -1.9rem;
    right: 0.5rem;
    z-index: 20;
    color: #fff;
    font-size: calc(0.9rem + 0.5vw);
    background-color: rgba(0, 0, 0, 0.495);
    border-radius: 3px;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.banner-pop-up i:hover{
    background-color: rgba(0, 0, 0, 0.805);
}
/* Banner Pop-up End */

/* About Start */
.about-us{
    overflow: hidden;
    position: relative;
    margin-top: -0.5rem;
}
.about-us video{
    width: 100%;
}
.about-us .about-us-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.about-us .about-desc{
    width: 42%;
    background-color: rgba(43, 129, 184, 0.8);
    color: #fff;
    padding: 2.5rem 2.5rem 3rem 2.5rem;
    margin-top: 13rem;
}
.about-us .about-desc h1{
    font-weight: 700;
    font-size: calc(1.5rem + 1vw);
}
.about-us .about-desc p{
    font-size: calc(0.5rem + 0.5vw);
    text-align: justify;
}
.about-us .count-row{
    position: absolute;
    bottom: 0.45rem;
    left: 7.5%;
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.about-us .count-row .count-box{
    width: 25%;
    text-align: center;
    padding: 1rem 0;
}
.about-us .count-row .count-box h2{
    font-weight: 700;
    font-size: calc(1.3rem + 1vw);
}
.about-us .count-row .count-box p{
    font-weight: 550;
    font-size: calc(0.6rem + 0.5vw);
    margin: 0;
}
.about-us .count-row .bl{
    background-color: #366d96;
    color: #fff;
}
.about-us .count-row .wh{
    background-color: #fff;
    color: #366d96;
}
/* About End */